* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
}

.background__lines-wrapper {
	min-height: 100vh;
	width: 100%;
	position: fixed;
}
.mobile-lines {
	display: none;
}

.desktop-lines .background__lines-row {
	display: grid;
	gap: 15px;
	grid-template-rows: repeat(8, 1fr);
}

.desktop-lines .background__lines-column {
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(16, 1fr);
}

.mobile-lines .background__lines-row {
	display: grid;
	gap: 15px;
	grid-template-rows: repeat(15, 1fr);
}

.mobile-lines .background__lines-column {
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(8, 1fr);
}

.background__lines-row .background__line {
	opacity: 0.15;
	height: 1px;
	width: 100%;
}

.background__lines-column .background__line {
	opacity: 0.3;
	width: 1px;
	height: 100%;
}

.background__line-full-column {
	background-image: linear-gradient(to top, black 0%, #009de0 30%, black 90%);
	background-size: 100% 500%;
	background-position: 50% 50%;
	animation: moveDown 9s linear infinite;
}

.background__line-50-column {
	background-image: linear-gradient(to top, black 10%, #009de0 50%, black 90%);
	background-size: 100% 500%;
	background-position: 50% 50%;
	animation: moveDown 6s linear infinite;
}

.background__line-75-column {
	background-image: linear-gradient(to top, black 0%, #009de0 50%, black 100%);
	background-size: 100% 500%;
	background-position: 50% 50%;
	animation: moveDown 4s linear infinite;
}

.background__line-full-row {
	background-image: linear-gradient(to right, black 0%, #009de0 30%, black 90%);
	background-size: 100% 100%;
	background-position: 50% 50%;
	animation: moveRight 9s linear infinite;
}

.background__line-50-row {
	background-image: linear-gradient(to right, black 10%, #009de0 50%, black 90%);
	background-size: 100% 100%;
	background-position: 50% 50%;
	animation: moveRight 6s linear infinite;
}

.background__line-75-row {
	background-image: linear-gradient(to right, black 0%, #009de0 50%, black 100%);
	background-size: 100% 100%;
	background-position: 50% 50%;
	animation: moveRight 4s linear infinite;
}

@keyframes moveDown {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 0% 100%;
	}
}

@keyframes moveRight {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}

@media all and (max-width: 768px) {
	.desktop-lines {
		display: none;
	}
	.mobile-lines {
		display: block;
	}
}
